<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236011879607-ui4ouaun5cp5m4geihm5mgkqrabfsfl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236011879607-ui4ouaun5cp5m4geihm5mgkqrabfsfl5</string>
	<key>API_KEY</key>
	<string>AIzaSyB4W_SpCOOvv7oLqqU7iKbP4li6cXdRbxU</string>
	<key>GCM_SENDER_ID</key>
	<string>236011879607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wasabi.InstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-dcb88</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-dcb88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236011879607:ios:d945840279f6d726ace132</string>
</dict>
</plist>